<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>563367736973-rj4g73qh4ggjdqf5ebd90ecjm6fjhlmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563367736973-rj4g73qh4ggjdqf5ebd90ecjm6fjhlmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAo8rvIq7O6ysxA8iOh95lQy2ad3AE6CSE</string>
	<key>GCM_SENDER_ID</key>
	<string>563367736973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sk.Uber-App-For-Driver</string>
	<key>PROJECT_ID</key>
	<string>uber-for-rider-ed4e5</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-for-rider-ed4e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:563367736973:ios:4e39b70723754234</string>
	<key>DATABASE_URL</key>
	<string>https://uber-for-rider-ed4e5.firebaseio.com</string>
</dict>
</plist>
