<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Uber App For Driver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F77C1B631FD9952E00E98213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F77C1B771FD9952E00E98213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F77C1B821FD9952E00E98213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
